# General
.DS_Store
node_modules
build/
dist/

# Solidity
*.swp
*.swo
*.solc-output.json

# Truffle
/.truffle
/.truffle-config.js
/.truffle/compile-error.log
/.truffle/test-error.log
/.truffle/build-error.log
/.truffle/contracts
/.truffle/test
/.truffle/migrations

# Visual Studio Code
.vscode

## NextJS ignores

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local
